* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    gap: 10px;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    list-style: none;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

main {
    padding: 20px;
    display: grid;
    gap: 20px;
}

main h1 {
    text-align: center;
}

.atracoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.atracoes article {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.comidas {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.comidas article {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.atracoes img, comidas img, main img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

iframe {
    width: 100%;
    height: auto;
    border
}
